<div class="modal-content">
    <div class="manual-import-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h3>
                Manual Import <span class="x-subtitle"></span>
            </h3>

        </div>
        <div class="modal-body">
            <div class="x-breadcrumb"></div>
            <div class="x-workspace"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning pull-left x-back">back</button>
            <button class="btn btn-success x-next">next</button>
            <button class="btn btn-success x-import">import</button>
            <button class="btn btn-default" data-dismiss="modal">close</button>
        </div>
    </div>
</div>
