<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" class="form-control x-filter" placeholder="Filter series" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 x-series"></div>
</div>